streamlit==1.32.2
pandas==2.3.0
numpy==1.26.4
paramiko==3.4.0
python-dateutil==2.9.0
pytz==2025.2
protobuf==4.25.8
pyarrow==20.0.0
matplotlib==3.8.4
audio-recorder-streamlit==0.0.8  # Reemplazo para streamlit-mic-recorder
Pillow==10.4.0  # Versión actualizada
